.about-section {
  font-size: 1.3em;
  line-height: 35px;
  animation: .4s ease-out 0s 1 slideInFromBottom;
}
@media (max-width: 767px) {
  .about-section {
    font-size: 1em;
    line-height: 30px;
  }
}
