@keyframes leftToRight {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(100vw);
  }
}
.preview-about {
  position: relative;
  overflow: hidden;
  animation: .4s ease-out 0s  slideInFromBottom;
  background-color: #66CCFF;
  color: #003399;
}
.cloud-1 {
  position: absolute;
  top: 130px;
  animation: 70s linear 0s infinite leftToRight;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  animation-delay: -15s;
}
.cloud-2 {
  position: absolute;
  top: 430px;
  animation: 40s linear 0s infinite leftToRight;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  animation-delay: -30s;
}
.cloud-3 {
  position: absolute;
  top: 580px;
  animation: 50s linear 0s infinite leftToRight;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  animation-delay: -20s;
}
.fluff-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  /* border: 5px solid #f6f6f6; */
  box-shadow: 10px 10px 2px #f0f0f0;
  margin-bottom: 50px;
  z-index: 1;
}
.fluff-2 {
  position: relative;
  left: -20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  /* border: 5px solid #f6f6f6; */
  box-shadow: 10px 10px 2px #f0f0f0;
  margin-bottom: 30px;
  z-index: 1;
}
.fluff-3 {
  position: relative;
  left: -60px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #fff;
  /* border: 5px solid #f6f6f6; */
  box-shadow: 4px 4px 2px #f0f0f0;
  z-index: 1;
}
.fluff-4 {
  position: relative;
  left: -100px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
  /* border: 5px solid #f6f6f6; */
  box-shadow: 10px 10px 2px #f0f0f0;
}
.fluff-5 {
  position: relative;
  left: -150px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #fff;
  /* border: 5px solid #f6f6f6; */
  box-shadow: 4px 4px 2px #f0f0f0;
  z-index: 1;
}
.profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-left: 60px;
}
.game-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f0f0f0;
  width: 325px;
  height: 550px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px 30px 70px 30px;
  box-shadow: 10px 10px 5px #666;
  /* border: 10px solid #000; */
  z-index: 2;
}
.game-screen {
  display: flex;
  flex-direction: column;
}
.profile-image {
  height: 275px;
  width: 100%;
  border-left: 30px solid #828282;
  border-right: 30px solid #828282;
  border-top: 20px solid #828282;
  border-bottom: 20px solid #828282;
  border-radius: 20px 20px 40px 20px;
}
.game-logo {
  font-family: 'Press Start 2P', cursive;
  margin-top: 15px;
  font-size: .7em;
  color: #000;
}
.game-logo span {
  font-size: .4em;
}
.game-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.game-up {
  left: 25px;
  position: relative;
  width: 25px;
  height: 75px;
  background-color: #3b3c3b;
}
.game-right {
  position: relative;
  bottom: 50px;
  width: 75px;
  height: 25px;
  background-color: #3b3c3b;
}
.game-actions {
  display: flex;
  background-color: #e2e3e3;
  border-radius: 30%;
  -webkit-transform: rotate(-30deg) translate(-8px, -8px);
  transform: rotate(-30deg) translate(-8px, -8px);
}
.game-a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FF887B;
  margin: 10px;
}
.game-b {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF887B;
  margin-left: 20px;
}
.game-buttons {
  display: flex;
  justify-content: center;
}
.game-start {
  width: 10px;
  height: 50px;
  border-radius: 10px;
  background-color: #000;
  margin: 0 20px;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* .game-select {
  width: 10px;
  height: 50px;
  border-radius: 10px;
  background-color: #000;
} */
.profile-title {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2.7em;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  /* z-index: 2; */
}
.profile-subtitle {
  /* color: #c6c6c6; */
  color: black;
  -webkit-text-fill-color: #FF887B;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
  font-size: 2.3em;
  margin-top: 30px;
  font-weight: bold;
  /* z-index: 2; */
}
.profile-text {
  line-height: 35px;
  margin-top: 20px;
  font-size: 1.3em;
  font-weight: bold;
}
.inner-about {
  display: flex;
  /* border-top: 2px solid #b9b9b9; */
}
.profile-description-container {
  width: 70%;
  z-index: 2;
}
.profile-buttons {
  display: flex;
  margin-top: 40px;
}
.project-view {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .inner-about {
    flex-direction: column;
  }
  .tv {
    width: 100%;
    margin: 0 auto;
  }
  .profile-description-container {
    width: 100%;
    order: 2;
  }
  .profile-image-container {
    width: auto;
    margin: 0;
  }
  .game-body {
    box-shadow: 5px 5px 5px #666;
  }
  .profile-title {
    font-size: 1.2em;
    margin-top: 40px;
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: black;
  }
  .profile-subtitle {
    font-size: 1.3em;
    margin-top: 20px;
  }
  .profile-text {
    line-height: 30px;
    font-size: 1em;
  }
  .profile-buttons {
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
  }
  .profile-buttons button:nth-child(1n) {
    width: 100%;
    margin: 5px auto;
    padding: 16px 16px;
  }
  .project-view {
    margin-right: 0px;
  }
}
